body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	background-image: url('../images/BG.svg');
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
    font-size: 3em;

}

#logo {
	background-image: url('../images/logo.svg');
	background-position: center;
	min-height: 400px;
	width: 100%;
	text-align: center;
	background-repeat: no-repeat;
}

.myForm {
	text-align: center;
	margin: auto;
	width: 600px;
	margin-top: 50px;
}

.formDescription {
	margin: 20px;
	
}

.formDescription input{
	width: 50px;
	height: 40px;
}

.Box {
	background: white;
	padding: 20px;
	text-align: center;
	border: solid black 1px;
}


.button {
	font-size: 1.2em;
	padding: 10px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	font-weight: 400;

}

.button:hover {
 	background: grey;
}

#location {
	width: 400px;
	height: 60px;
}

a{
	text-decoration: none;
	color: black;
}

#next{
	margin: auto;
	text-align: center;
	margin-top: 100px;
	width: 200px;
}



